<?xml version="1.0"?>
<launch>
   <!-- This lauch file just loads the URDF with the given hardware interface and robot name into the ROS Parameter Server -->
   <arg name="parent" default="world"/> 

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur5_plan_grasp)/urdf/ur5_robot.urdf.xacro' parent:=$(arg parent)" />

</launch> 
